.git/
.gitignore
.github/

test/
tests/
*.test.js
*.spec.js
__tests__/
coverage/

.eslintrc*
.prettierrc*
tsconfig.json
jest.config.*
*.editorconfig

webpack.config.*
rollup.config.*
vite.config.*

docs/

.idea/
.vscode/

.DS_Store
Thumbs.db

.env
.env.*
*.log
